<!DOCTYPE html>
<html ng-app="ngMaterial-bp" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>


  </head>
  <body>
  <md-toolbar md-scroll-shrink="" class="md-whiteframe-glow-z2 md-default-theme">
      <h1 class="md-toolbar-tools">Angular-Material Boilerplate</h1>
  </md-toolbar>


    <md-content md-scroll-y="" layout-padding="" class="ng-scope md-default-theme" ui-view="main"></md-content>

    <footer class="footer">

    </footer>
  </body>
</html>
